@{
    ViewBag.Title = "Home Page";
}

@if (TempData["TodoSuccess"] != null)
{
    <div class="alert alert-success">
        
        @TempData["TodoSuccess"]
    </div>
}

<div class="jumbotron">
    <h1>Home Page</h1>
    <p class="lead">Countdown</p>
   
</div>
